.breadcrumb {
	background-color: transparent;
	font-size: 14px;
	color: $blue;
	margin: 0;
	padding: 5px 0 0;
	.breadcrumb-item {
		max-width: 1115px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		a {
			color: $blue;
		}

		&.active {
			color: $gray;
		}
	}
	.breadcrumb-item + .breadcrumb-item::before {
		color: $gray;
		content: ">";
	}
}

.pagination {

	.page-link {
		padding: .5rem .70rem;
		color: $gray;
		background-color: transparent;
		border: none;
		&:hover,&:focus {
			color: #0959b6;
			text-decoration: none;
			.pagination-arrow {
				fill: #0959b6;
			}
		}
	}
	.page-item.active .page-link {
		color: #0959b6;
		background-color: transparent;
		cursor: default;
	}

	.pagination-arrow {
		width: 16px;
		height: 20px;
		fill: #0959b6;

	}

	.disabled .pagination-arrow {
		fill: #6c757d;
	}
}