section.arbitration.py-5.bg-light
	.container
		.row.mb-4
			.col-12.col-sm-6.mb-4.mb-sm-0
				h2.title Центр арбитража и посредничества
			.col-12.col-sm-6.text-left.text-sm-right
				a.btn.btn-outline-blue.text-uppercase.mr-2.d-none.d-sm-inline-block(href="#") Инфографика
				a.btn.btn-outline-blue.text-uppercase(href="#") Перейти на сайт
		.row
			.col-6.col-lg-3.mb-4
				.arbitration__card
					a.arbitration__card-link(href="#")
						.arbitration__card-logo
							+image('arbitration/mkac.png','arbitration__card-img')
						.arbitration__card-title Международный коммерческий арбитражный суд
			.col-6.col-lg-3.mb-4
				.arbitration__card
					a.arbitration__card-link(href="#")
						.arbitration__card-logo
							+image('arbitration/mac.png','arbitration__card-img')
						.arbitration__card-title Морская арбитражная комиссия
			.col-6.col-lg-3.mb-4
				.arbitration__card
					a.arbitration__card-link(href="#")
						.arbitration__card-logo
							+image('arbitration/3.png','arbitration__card-img')
						.arbitration__card-title Третейский суд для разрешения экономических споров
			.col-6.col-lg-3.mb-4
				.arbitration__card
					a.arbitration__card-link(href="#")
						.arbitration__card-logo
							+image('arbitration/4.png','arbitration__card-img')
						.arbitration__card-title Коллегия посредников
					