.container.py-5
	.row.mb-4
		.col
			h2.title О деловом совете БРИКС
		.col.text-right
			a.btn.btn-outline-blue.text-uppercase(href="#") Подробнее
	.text
		p О создании Делового совета БРИКС было объявлено на полях V саммита БРИКС в г.Дурбан (ЮАР) 27 марта 2013 года.
		p В соответствии с учредительными документами деятельность совета направлена на создание площадки для обсуждения вопросов укрепления и продвижения экономических, торговых, деловых и инвестиционных связей между деловыми кругами пяти стран, а также на обеспечение диалога между предпринимательским сообществом и представителями правительственных структур.
		p В соответствии с учредительными документами деятельность совета направлена на создание площадки для обсуждения вопросов укрепления и продвижения экономических, торговых, деловых и инвестиционных связей между деловыми кругами пяти стран, а также на обеспечение диалога между предпринимательским сообществом и представителями правительственных структур.
		p Решением лидеров в Деловой совет БРИКС входят по пять представителей от каждой страны.
		p Персональный состав российской части Делового совета на основе предложений МИД России утвержден распоряжением Президента РФ от 12 апреля 2013 года № 144-рп. Полномочия членов российской части продлены распоряжением Президента РФ от 13 декабря 2018 года № 379-рп.