.card.calendar-popup-event
	.card-body.calendar-popup-event__body
		.calendar-popup-event__close
		.calendar-popup-event__name
			input.calendar-popup-event__name-input(placeholder='Название')
		.calendar-popup-event__parameters
			.calendar-popup-event__parameter
				<i class="fas fa-map-marker-alt mr-3"></i>
				input.calendar-popup-event__input(placeholder="Добавьте местоположение") 
			.calendar-popup-event__parameter
				<i class="fas fa-map-marker-alt mr-3"></i>
				input.calendar-popup-event__input(placeholder="Отвественный")
			.calendar-popup-event__parameter
				<i class="fas fa-map-marker-alt mr-3"></i>
				.dropdown
					button#dropdownMenuButton.btn.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						input(type="color" value="#e66465" style="background:none; border: none" readonly)
					.dropdown-menu(aria-labelledby='dropdownMenuButton')
						a.dropdown-item(href='#')
							input(type="color" value="#e66465" style="background:none; border: none" readonly)
						a.dropdown-item(href='#')
							input(type="color" value="#e66465" style="background:none; border: none" readonly)
						a.dropdown-item(href='#')
							input(type="color" value="#e66465" style="background:none; border: none" readonly)
				
		.calendar-popup-event__btns
			button.btn.calendar-popup-event__btn.calendar-popup-event__btn_save Сохранить

