.calendar-popup-event-detail.card
	.card-body
		h5.calendar-popup-event-detail__title Форум предпринимателей
		button.close.calendar-popup-event-detail__btn-close(type='button', data-dismiss='modal', aria-label='Close')
			span(aria-hidden='true') ×
		.calendar-popup-event-detail__desk
			p Modal body text goes here.
		.text-right.p-2
			button.btn.calendar-popup-event-detail__btn(type='button', data-dismiss='modal')
				i.far.fa-trash-alt
			button.btn.calendar-popup-event-detail__btn(type='button')
				i.fas.fa-pencil-alt

