.contact-exchange.py-5
	.container
		h2.title.mb-4 Биржа контактов
		.row
			.col-12.col-md-6.mb-3.mb-md-0
				+image('contacts-exchange/contact-exchange.jpg')
			.col-12.col-md-6
				.text
					p Разместить информацию о Вашем предприятии можно на немецкоязычном сайте Представительства, входящем в ТОП-5 по результатам запросов в Google Germany.
					p Презентацию предприятия на английском или немецком языках можно направлять на электронный адрес <a href="#">ekaterina.wehmeyer@hik-russland.de</a> для ее размещения на немецкоязычном сайте <a href="#">Представительства</a>. 
