section.flags-section.py-5
    .container
        .row
            .col-3
                .flag
                    .flag__pic
                        +image('flags/france.svg', 'flag__img')
                        +image('flags/shadow.svg', 'flag__shadow-img')
            .col-3
                .flag
                    .flag__pic
                        +image('flags/france.svg', 'flag__img')
                        +image('flags/shadow.svg', 'flag__shadow-img')
            .col-3
                .flag
                    .flag__pic
                        +image('flags/france.svg', 'flag__img')
                        +image('flags/shadow.svg', 'flag__shadow-img')
            .col-3
                .flag
                    .flag__pic
                        +image('flags/france.svg', 'flag__img')
                        +image('flags/shadow.svg', 'flag__shadow-img')
                    