footer.footer.bg-indigo.pt-3.pb-5.py-lg-5
	.container.footer__container
		section.contacts
			.row.mb-4
				.col
					h2.title Контакты
				.col.text-right
					a.btn.btn-outline-whiteopacity.text-uppercase(href="#") Подробнее
			//- h2.contacts__title 
			.row.justify-content-between
				.col-12.col-md-4.mb-3.mb-md-0.d-flex.flex-column
					.contacts__person
						a.contacts__person-post(href="javascript:void(0);") Вице-президент ТПП РФ (Фатеев М.А.)
						.contacts__popup
							a(href="javascript:void(0);").contacts__popup-btn-close
								i.fa.fa-times
							.contacts__popup-title Департамент выставочной, ярмарочной и конгрессионной деятельности
							.contacts__popup-content
								.contacts__popup-person
									.contacts__popup-person-avatar
										+image(`team/avatar.jpg`, "contacts__popup-person-avatar-img")
									.contacts__popup-person-info
										.contacts__popup-person-name Селиванов Сергей Викторович
										.contacts__popup-person-post директор департамента
										ul.contacts__popup-person-contacts
											li.contacts__popup-person-contact
												+icon('phone','contacts__popup-icon')
												.contacts__popup-text +7(495)620-0009
											li.contacts__popup-person-contact
												+icon('mail','contacts__popup-icon')
												.contacts__popup-text tpprf@tpprf.ru
								.contacts__popup-desc#customize-scroll Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?
						ul.contacts__person-departamnets
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент проектной и инвестиционной деятельности торгово-промышленных палат
								ul.contacts__person-departamnets.contacts__person-departamnets_lvl
									li.contacts__person-departamnet 
										a.contacts__person-departamnet-link(href="#") Департамент проектной и инвестиционной деятельности торгово-промышленных палат
									li.contacts__person-departamnet 
										a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
										ul.contacts__person-departamnets.contacts__person-departamnets_lvl
											li.contacts__person-departamnet 
												a.contacts__person-departamnet-link(href="#") Департамент проектной и инвестиционной деятельности торгово-промышленных палат
											li.contacts__person-departamnet 
												a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
								ul.contacts__person-departamnets.contacts__person-departamnets_lvl
									li.contacts__person-departamnet 
										a.contacts__person-departamnet-link(href="#") Департамент проектной и инвестиционной деятельности торгово-промышленных палат
									li.contacts__person-departamnet 
										a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
										ul.contacts__person-departamnets.contacts__person-departamnets_lvl
											li.contacts__person-departamnet 
												a.contacts__person-departamnet-link(href="#") Департамент проектной и инвестиционной деятельности торгово-промышленных палат
											li.contacts__person-departamnet 
												a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
					.contacts__person
						a.contacts__person-post(href="javascript:void(0);") Вице-президент ТПП РФ (Фатеев М.А.)
						.contacts__popup
							a(href="javascript:void(0);").contacts__popup-btn-close
								i.fa.fa-times
							.contacts__popup-title Департамент выставочной, ярмарочной и конгрессионной деятельности
							.contacts__popup-content
								.contacts__popup-person
									.contacts__popup-person-avatar
										+image(`team/avatar.jpg`, "contacts__popup-person-avatar-img")
									.contacts__popup-person-info
										.contacts__popup-person-name Селиванов Сергей Викторович
										.contacts__popup-person-post директор департамента
										ul.contacts__popup-person-contacts
											li.contacts__popup-person-contact
												+icon('phone','contacts__popup-icon')
												.contacts__popup-text +7(495)620-0009
											li.contacts__popup-person-contact
												+icon('mail','contacts__popup-icon')
												.contacts__popup-text tpprf@tpprf.ru
								.contacts__popup-desc#customize-scroll Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?
						ul.contacts__person-departamnets
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент проектной и инвестиционной деятельности торгово-промышленных палат
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
					.contacts__person
						a.contacts__person-post(href="javascript:void(0);") Вице-президент ТПП РФ (Фатеев М.А.)
						.contacts__popup
							a(href="javascript:void(0);").contacts__popup-btn-close
								i.fa.fa-times
							.contacts__popup-title Департамент выставочной, ярмарочной и конгрессионной деятельности
							.contacts__popup-content
								.contacts__popup-person
									.contacts__popup-person-avatar
										+image(`team/avatar.jpg`, "contacts__popup-person-avatar-img")
									.contacts__popup-person-info
										.contacts__popup-person-name Селиванов Сергей Викторович
										.contacts__popup-person-post директор департамента
										ul.contacts__popup-person-contacts
											li.contacts__popup-person-contact
												+icon('phone','contacts__popup-icon')
												.contacts__popup-text +7(495)620-0009
											li.contacts__popup-person-contact
												+icon('mail','contacts__popup-icon')
												.contacts__popup-text tpprf@tpprf.ru
								.contacts__popup-desc#customize-scroll Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?
						ul.contacts__person-departamnets
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент проектной и инвестиционной деятельности торгово-промышленных палат
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
					
				.col-12.col-md-4.mb-3.mb-md-0.d-flex.flex-column
					.contacts__person
						a.contacts__person-post(href="javascript:void(0);") Вице-президент ТПП РФ (Фатеев М.А.)
						.contacts__popup
							a(href="javascript:void(0);").contacts__popup-btn-close
								i.fa.fa-times
							.contacts__popup-title Департамент выставочной, ярмарочной и конгрессионной деятельности
							.contacts__popup-content
								.contacts__popup-person
									.contacts__popup-person-avatar
										+image(`team/avatar.jpg`, "contacts__popup-person-avatar-img")
									.contacts__popup-person-info
										.contacts__popup-person-name Селиванов Сергей Викторович
										.contacts__popup-person-post директор департамента
										ul.contacts__popup-person-contacts
											li.contacts__popup-person-contact
												+icon('phone','contacts__popup-icon')
												.contacts__popup-text +7(495)620-0009
											li.contacts__popup-person-contact
												+icon('mail','contacts__popup-icon')
												.contacts__popup-text tpprf@tpprf.ru
								.contacts__popup-desc#customize-scroll Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?
						ul.contacts__person-departamnets
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент проектной и инвестиционной деятельности торгово-промышленных палат
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
					.contacts__person
						a.contacts__person-post(href="javascript:void(0);") Вице-президент ТПП РФ (Фатеев М.А.)
						.contacts__popup
							a(href="javascript:void(0);").contacts__popup-btn-close
								i.fa.fa-times
							.contacts__popup-title Департамент выставочной, ярмарочной и конгрессионной деятельности
							.contacts__popup-content
								.contacts__popup-person
									.contacts__popup-person-avatar
										+image(`team/avatar.jpg`, "contacts__popup-person-avatar-img")
									.contacts__popup-person-info
										.contacts__popup-person-name Селиванов Сергей Викторович
										.contacts__popup-person-post директор департамента
										ul.contacts__popup-person-contacts
											li.contacts__popup-person-contact
												+icon('phone','contacts__popup-icon')
												.contacts__popup-text +7(495)620-0009
											li.contacts__popup-person-contact
												+icon('mail','contacts__popup-icon')
												.contacts__popup-text tpprf@tpprf.ru
								.contacts__popup-desc#customize-scroll Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?
						ul.contacts__person-departamnets
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент проектной и инвестиционной деятельности торгово-промышленных палат
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
					.contacts__person
						a.contacts__person-post(href="javascript:void(0);") Вице-президент ТПП РФ (Фатеев М.А.)
						.contacts__popup
							a(href="javascript:void(0);").contacts__popup-btn-close
								i.fa.fa-times
							.contacts__popup-title Департамент выставочной, ярмарочной и конгрессионной деятельности
							.contacts__popup-content
								.contacts__popup-person
									.contacts__popup-person-avatar
										+image(`team/avatar.jpg`, "contacts__popup-person-avatar-img")
									.contacts__popup-person-info
										.contacts__popup-person-name Селиванов Сергей Викторович
										.contacts__popup-person-post директор департамента
										ul.contacts__popup-person-contacts
											li.contacts__popup-person-contact
												+icon('phone','contacts__popup-icon')
												.contacts__popup-text +7(495)620-0009
											li.contacts__popup-person-contact
												+icon('mail','contacts__popup-icon')
												.contacts__popup-text tpprf@tpprf.ru
								.contacts__popup-desc#customize-scroll Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam distinctio illo amet illum rem quibusdam aspernatur, obcaecati laboriosam blanditiis culpa delectus nisi? Quae cum nostrum tempora rerum, veniam quidem fugiat?
						ul.contacts__person-departamnets
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент проектной и инвестиционной деятельности торгово-промышленных палат
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент проектной и инвестиционной деятельности торгово-промышленных палат
							li.contacts__person-departamnet 
								a.contacts__person-departamnet-link(href="#") Департамент цифрового развития
				.contacts__copyright
					.copyright © 2020 Торгово-промышленная палата Российской Федерации. При использовании материалов сайта ссылка обязательна
				.col-12.col-md-4.d-flex.flex-column.pl-5
					ul.contacts-list
						li.contacts-list__item
							+icon('map','contacts-list__item-icon')
							.contacts-list__item-text Адрес: 
								span 109012 Москва, ул. Ильинка, 6/1, c.1
						li.contacts-list__item
							+icon('phone','contacts-list__item-icon')
							.contacts-list__item-text Телефон: 
								a(href="#") +7 (495) 620-0009	
							.contacts-list__item-text Факс: 
								a(href="#") +7 (495) 620-0360
						li.contacts-list__item
							+icon('mail','contacts-list__item-icon')
							.contacts-list__item-text Эл. почта: 
								a(href="#") tpprf@tpprf.ru
						li.contacts-list__item
							ul.socials
								li.socials__item
									a.socials__link(href="#")
										+icon('vk','socials__icon')
								li.socials__item
									a.socials__link(href="#")
										+icon('instagram','socials__icon')
								li.socials__item
									a.socials__link(href="#")
										+icon('facebook','socials__icon')
								li.socials__item
									a.socials__link(href="#")
										+icon('twitter','socials__icon')
								li.socials__item
									a.socials__link(href="#")
										+icon('youtube','socials__icon')
					//- .contacts__logo
					//- 	+icon('logo-tpp','contacts__logo-pic')