.history-success.py-5
	.container
		.row.mb-4
			.col.d-flex
				h2.title Истории успеха
			.col.text-right
				a.btn.btn-outline-blue.text-uppercase.ml-3(href="#") Подробнее
		- 
			var history = [
				[
					'14.11.2019',
					'history1.jpg',
					'EuRec® Technology GmbH: Утилизация проблемы отходов',
					'У истоков тюрингской компании EuRec® Technology GmbH (EuRec®) стояла команда экспертов в области техники и комплексного оборудования для сортировки, переработки и биологической обработки отходов. Среднее предприятие, начинавшее свою деятельност',
				],
				[
					'14.11.2019',
					'history2.jpg',
					'Тен Эльзен «Шпехт»: немецкие технологии для российских птицеферм',
					'В 1997 году фирма Тен Эльзен «Шпехт» начала сотрудничество с птицеводческими хозяйствами России. Первым заказом стала поставка клеточного оборудования в Татарстан. Немецкие инженеры разработали для российского предприятия специальную систему вентиляции с компьютерным управлением – новинку для тогдашнего российского рынка.',
				],
				[
					'14.11.2019',
					'history3.jpg',
					'Тен Эльзен «Шпехт»: немецкие технологии для российских птицеферм',
					'В 1997 году фирма Тен Эльзен «Шпехт» начала сотрудничество с птицеводческими хозяйствами России. Первым заказом стала поставка клеточного оборудования в Татарстан. Немецкие инженеры разработали для российского предприятия специальную систему вентиляции с компьютерным управлением – новинку для тогдашнего российского рынка.',
				],
			]
		.row
			each historyItem in history 
				.col-12.col-sm-6.col-md-4.py-3
					.new.card
						a.new__link(href="#")
							.new__pic
								+image(`history/${historyItem[1]}`, "new__img")
							.card-body.new__content
								.new__date
									.ribbon= historyItem[0]
								h3.new__title=historyItem[2]
								.new__text=historyItem[3]