section.news-detail.py-5
	.container.news-detail__container
		.news-detail__title
			| Дмитрий Курочкин: Мы - страна-кубышка. Огромные средства и у государства, и у бизнеса, и у населения сегодня не работают
		.news-detail__date 
			.ribbon
				.ribbon__content 14.11.2019
			//- .ribbon.ribbon_shadow 14.11.2019
		.news-detail__row
			.news-detail__opinion-person
				.news-detail__opinion-person-avatar
					+image('persons/kurochkin.jpg', 'news-detail__opinion-person-avatar-img')
				.news-detail__opinion-person-name Дмитрий 
					span Курочкин
			.news-detail__btn
				a(href="#").news-detail__btn-link
					+icon('tag', 'news-detail__btn-icon')
				.news-detail__btn-link
					+icon('share', 'news-detail__btn-icon')
					.news-detail__share-links
						.share-links
							a.share-links__item(href="#")
								svg.share-links__icon
									use(xlink:href=`../images/icons/symbol/news-icon-sprite.svg#facebook`)
							a.share-links__item(href="#")
								svg.share-links__icon
									use(xlink:href=`../images/icons/symbol/news-icon-sprite.svg#google-plus`)
							a.share-links__item(href="#")
								svg.share-links__icon
									use(xlink:href=`../images/icons/symbol/news-icon-sprite.svg#livejournal`)
							a.share-links__item(href="#")
								svg.share-links__icon
									use(xlink:href=`../images/icons/symbol/news-icon-sprite.svg#odnoclassniki`)
							a.share-links__item(href="#")
								svg.share-links__icon
									use(xlink:href=`../images/icons/symbol/news-icon-sprite.svg#twitter`)
							a.share-links__item(href="#")
								svg.share-links__icon
									use(xlink:href=`../images/icons/symbol/news-icon-sprite.svg#vk`)
				a(href="#").news-detail__btn-link
					+icon('print', 'news-detail__btn-icon')
		.news-detail__opinion-video
			.video
				.video__preview
					+image('video/video-preview.jpg','video__preview-img')
					.video__play
						+icon('play', 'video__play-icon')
				iframe#video-ytb(src='https://www.youtube.com/embed/0uN4kC8ze4Y', allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture")
		.news-detail__content
			.news-detail__text
				p 
					| <b>Марина Калинина</b>: Здравствуйте. Я Марина Калинина. Это рубрика «Промышленная политика». Как всегда, по вторникам в 14:30 по московскому времени мы рассказываем о российских предприятиях, показываем продукцию, которую они делают, рассказываем о людях, которые там работают. И, естественно, о проблемах и достижениях, которые присущи тем или иным предприятиям. Но сегодня не совсем обычная программа. Рубрика «Промышленная политика» существует почти 3 года, и мы решили сегодня не концентрироваться на каком-то одном предприятии, на одной отрасли, а поговорить в целом о том, что сейчас происходит в промышленности в нашей стране, какова сейчас промышленная политика. У меня в гостях Дмитрий Курочкин, вице-президент Торгово-промышленной палаты России. Дмитрий Николаевич, здравствуйте.
				p 
					| <b>Дмитрий Курочкин</b>: Добрый вечер.
				p 
					| <b>Марина Калинина</b>: За 3 года мы объехали с нашей съемочной группой если не всю страну, то, точно, половину. Очень много предприятий, разных совершенно. И мы собрали такой небольшой материал, несколько взяли, с востока на запад по принципу они расположены в стране. Вот давайте посмотрим это, а потом побеседуем.
				p 
					| Вот смотрите. Чебоксарское предприятие «Сеспель» производит цистерны для перевозки различных грузов. Работать начали в 1988 году. Предприятие выросло из гаража, из одного всего лишь ангара. Сейчас это 2 большие производственные площадки, и работают на заводе 650 человек. И вот о том, что нужно для повышения производительности труда, директор «Сеспель» Владимир Бакшаев рассказал в прямом эфире.
				p 
					| <b>Владимир Бакшаев</b>: Знаете, я вам могу утверждать, что таких предприятий становится довольно много. Они, может быть, не так видны, но в рамках политики импортозамещения, которая сегодня провозглашена у нас в стране, и в рамках нового технологического уклада наше предприятие, если будет нормальный стабильный спрос, который обеспечивается, конечно, федеральными закупками, помимо розничного рынка, то мы будем иметь рост производительности труда. И таких предприятий, я думаю, будет множиться.
				p 
					| <b>Марина Калинина</b>: Побывали мы и в Пермском крае, на Краснокамском ремонтно-механическом заводе. Завод был основан в 73-м году, а сейчас производит оборудование для заготовки сенажа в упаковки. Сотрудников больше 200 человек. Директор Дмитрий Теплов в интервью в нашей студии рассказал, чего ждет от банков для облегчения работы производства.
				p 
					| <b>Дмитрий Теплов</b>: На самом деле мы, конечно, очень верим в то, что в России ситуация в целом, вот начиная с прошлого года, с этого года, будет все-таки меняться в позитивную сторону страшно быстрыми темпами. Т. е. сейчас мы, очень хорошо, что мы пришли к низкой инфляции. Т. е. мы видим, что ставки по кредитам в целом снижаются. И мы рассчитываем на то, что банки начнут увереннее смотреть в будущее и активней поддерживать и сельхозпредприятия, и промышленные предприятия в их развитии.
				p 
					| <b>Марина Калинина</b>: Машиностроительный завод «Тонар» в Подмосковье существует с 1990 года. Производит сельскохозяйственную прицепную технику, прицепы различные и автопоезда. На заводе работают около 1000 человек. В эфире ОТР директор завод Денис Кривцов рассказал, как изменилась ситуация для производителей за последние годы.
				p 
					| <b>Денис Кривцов</b>: Еще несколько лет назад мы четко не могли представить вообще, мы для государства нужны, важны, что у нас будет дальше. Сейчас я могу четко сказать, что с нами разговаривают, нас слышат, нам четко дали понять, что, ребята, развивайтесь, мы вас поддержим. Даже на словах – это уже половина дела.
		.news-detail__opinion-source
			.news-detail__block-title Источники
			a.news-detail__opinion-source-link(href='#') Источник: https://otr-online.ru/programmy/segodnya-v-rossii/dmitriy-kurochkin-my-strana-kubyshka-ogromnye-sredstva-i-u-gosudarstva-i-u-biznesa-i-u-naseleniya-segodnya-ne-rabotayut-41265.html


