section.partners.bg-lightgray
	.container.partners__container
		.partners__list
			.row.partners__list-container
				//- each partner in ['partner1.png','partner2.png','partner3.png','partner4.png','partner5.png',]
				//- each partner in ['ecocentr','expert-union','mimop','union-patent','world-trade']
				.col.partners__list-item
					.partners__logo
						a.partners__link(href="#")
							+image('partners/expert-union.svg','partners__icon')
							+image('partners/expert-union-hover.svg','partners__icon partners__icon_hover')
				.col.partners__list-item
					.partners__logo
						a.partners__link(href="#")
							+image('partners/mimop.svg','partners__icon')
							+image('partners/mimop-hover.svg','partners__icon partners__icon_hover')
				.col.partners__list-item
					.partners__logo
						a.partners__link(href="#")
							+image('partners/ecocentr.svg','partners__icon')
							+image('partners/ecocentr-hover.svg','partners__icon partners__icon_hover')
				.col.partners__list-item
					.partners__logo
						a.partners__link(href="#")
							+image('partners/union-patent.svg','partners__icon')
							+image('partners/union-patent-hover.svg','partners__icon partners__icon_hover')
				.col.partners__list-item
					.partners__logo
						a.partners__link(href="#")
							+image('partners/world-trade.svg','partners__icon')
							+image('partners/world-trade-hover.svg','partners__icon partners__icon_hover')
						

						
					

