section.promo
	.promo__slider.slider
		.promo__slider-item
			.container.promo__slider-container
				.row
					.col-12.col-md-5.mb-5.mb-lg-0
						.promo__slider-left-col
							.promo__slider-left-col-big-text 52 665
							.promo__slider-left-col-small-text организаций объединяет Торгово-промышленная  Палата РФ
					.col-12.col-md-7
						.promo__slider-right-col
								.promo__slider-right-col-big-text Нам доверяет свои интересы весь спектр российского предпринимательства –
								.promo__slider-right-col-small-text от малого бизнеса до крупных концернов, промышленных и финансовых групп, работающих во всех отраслях российской экономики. 
								.promo__slider-right-col-btn.btn.btn-outline-white Вступить в ТПП
		.promo__slider-item
			.container.promo__slider-container
				.row
					.col-12.col-md-5.mb-5.mb-lg-0
						.promo__slider-left-col
							.promo__slider-left-col-big-text 52 665
							.promo__slider-left-col-small-text организаций объединяет Торгово-промышленная  Палата РФ
					.col-12.col-md-7
						.promo__slider-right-col
								.promo__slider-right-col-big-text Нам доверяет свои интересы весь спектр российского предпринимательства –
								.promo__slider-right-col-small-text от малого бизнеса до крупных концернов, промышленных и финансовых групп, работающих во всех отраслях российской экономики. 
								.promo__slider-right-col-btn.btn.btn-outline-white Вступить в ТПП
		.promo__slider-item
			.container.promo__slider-container
				.row
					.col-12.col-md-5.mb-5.mb-lg-0
						.promo__slider-left-col
							.promo__slider-left-col-big-text 52 665
							.promo__slider-left-col-small-text организаций объединяет Торгово-промышленная  Палата РФ
					.col-12.col-md-7
						.promo__slider-right-col
								.promo__slider-right-col-big-text Нам доверяет свои интересы весь спектр российского предпринимательства –
								.promo__slider-right-col-small-text от малого бизнеса до крупных концернов, промышленных и финансовых групп, работающих во всех отраслях российской экономики. 
								.promo__slider-right-col-btn.btn.btn-outline-white Вступить в ТПП
