.representation.py-5
	.container
		.row
			.col-12.col-lg-6.mb-3.mb-lg-0
				.card.representation__card
					.card-body.representation__card-body
						.representation__card-header
							.title.representation__card-title Никитин Сергей Михайлович
								.representation__card-subtitle Руководительно представительства
							a.btn.btn-outline-blue.text-uppercase(href="#") Подробнее

						.representation__card-content
							.representation__head-avatar
								+image('persons/Nikitin.jpg','representation__head-avatar-img')
							.representation__desk Представительство Торгово-промышленной палаты Российской Федерации в Федеративной Республике Германия представляет интересы российских предприятий и содействует интеграции России в мировую экономику.
			.col-12.col-lg-6
				.card.representation__card
					.card-body.representation__card-body
						.representation__card-header
							.representation__country-flag
								+image('representation/germany.jpg','representation__country-flag-img')
							.title.representation__card-title О Германии
							a.btn.btn-outline-blue.text-uppercase(href="#") Информация для бизнеса
						.representation__card-content
							ul.representation__contry-characteristics
								li.representation__contry-characteristics-item
									span Территория 
									|357 385 км² (62-я в мире) 2,46 %
								li.representation__contry-characteristics-item
									span Население 
									| 83 019 200 чел. (17-е)  232,3 чел./км² (58-я)
								li.representation__contry-characteristics-item
									span ВВП (ППС)  
									| 4,356 трлн долл.
								li.representation__contry-characteristics-item
									span ВВП (номинал)
									| 4,000 трлн долл.
								li.representation__contry-characteristics-item
									span
									| 0,939(очень высокий; 4-е место)
								li.representation__contry-characteristics-item
									span Жители 
									| немец, немка, немцы
								li.representation__contry-characteristics-item
									span Ден. единица 
									| евро (EUR, код 978) 
								li.representation__contry-characteristics-item
									span CET  
									| (UTC+1, летом UTC+2) 