section.services.py-5.bg-light
	.container
		.row.mb-4
			.col
				h2.title Услуги
			.col.text-right
				a.btn.btn-outline-blue.text-uppercase.mr-2(href="#").d-none.d-sm-inline-block Инфографика
				a.btn.btn-outline-blue.text-uppercase(href="#") Подробнее
		.slider.services__slider
			button.slider__btn.slider__btn_prev.slider__btn_small
				+icon('arrow', 'slider__btn-icon')
			button.slider__btn.slider__btn_next.slider__btn_small
				+icon('arrow', 'slider__btn-icon')
			.slider__container.row
					-
						var servicesList = [
							['Экспертиза',
							'экспертиза.svg',
							['Идентификационная экспертиза, ', 'Контрактная экспертиза, ', 'Пожарно-техническая экспертиза и пожарный аудит, ', 'Страховая экспертиза, ', 'Судебная экспертиза', 'Товарная экспертиза', 'Экспертиза страны происхождения товара, ', 'Энергетическое обследование']
							],
							['Оценка',
							'оценка.svg',
							['Оценка бизнеса, ', 'Оценка нематериальных активов, ', 'Оценка технологического оборудования, деталей машин, ', 'Оценка ущерба, ', 'Оценка недвижимости, ', 'Оценка сооружений и передаточных устройств, ', 'Оценка транспортных средств, ', 'Другие виды оценки']
							],
							['Сертификация',
							'сертификация.svg',
							['Классификация средств размещения, ', 'Экспертизы и сертификации товаров, ', 'Сертификация систем менеджмента качества, ', 'Заполнение декларации о розничной продаже алкогольной продукции, ', 'Предоставление информации о нормативной документации в сфере']
							],
							['Выставка',
							'выставки.svg',
							['Организация и проведение выставок, ', 'Организация и проведение деловых миссий, ', 'Организация и проведение', 'Форумов, конгрессов и презентаций, ', 'Консультации по вопросам выставок, ярмарок, конгрессов, деловых миссий, презентаций']
							],
							['Консультация',
							'консультация.svg',
							['Консультации по бизнес-планированию, ', 'Консультации по внешнеэкономической деятельности, ', 'Консультации по вопросам сертификации, ', 'Консультации по защите, инвентаризации и оценке интеллектуальной собственности, ', 'Консультации по корпоративному управлению Консультации по налогообложению']
							],
							['Образование',
							'образование.svg',
							['Организация и проведение выставок, ', 'Организация и проведение деловых миссий, ', 'Организация и проведение, Форумов, конгрессов и презентаций, ', 'Консультации по вопросам выставок, ярмарок, конгрессов, деловых миссий, презентаций']
							],
							['Взаимодействие с филиалами и представительствами инофирм, визы и карты АТЭС',
							'образование.svg',
							['Организация и проведение выставок, ', 'Организация и проведение деловых миссий, ', 'Организация и проведение, Форумов, конгрессов и презентаций, ', 'Консультации по вопросам выставок, ярмарок, конгрессов, деловых миссий, презентаций']
							],
							['Деловое образование, подготовка кадров',
							'образование.svg',
							['Организация и проведение выставок, ', 'Организация и проведение деловых миссий, ', 'Организация и проведение, Форумов, конгрессов и презентаций, ', 'Консультации по вопросам выставок, ярмарок, конгрессов, деловых миссий, презентаций']
							],
						];
					each serviesItem in servicesList	
						.col
							.card.service
								.card-body.service__body
									.service__header
										.service__pic
											+image(`services/${serviesItem[1]}`,'service__img')
										h3.service__title=serviesItem[0]
									.service__links
										each linksItem in serviesItem[2]
											a.service__link(href='#') #{linksItem} 


