.material {
	border-radius: 3px;
	height: 220px;
	position: relative;
	top: 0;
	transition: top linear .3s;
	&:hover {
		top: -15px;
		// transform: translateY(-15px);
		transition: top linear .3s;
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 25px 30px;
	}

	&__title {
		font-size: 16px;
		color: #1e5393;
		margin-bottom: 10px;
		max-height: 5.9375rem;
		-webkit-line-clamp: 3;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		&:hover {
			text-decoration: underline;
		}
	}

	&__date {
		font-size: 16px;
		color: #8d9caf;
	}
	&__docs-container {
		position: relative;
		padding-top: 20px;
		margin-top: auto;
		border-top: 1px solid #e1e1e1;
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 36px;
			position: relative;
			display: none;
		}

		&:hover {
			.material__docs {
				overflow: visible;
				height: auto;
				position: absolute;
				top: 20px;
				left: 0;
				width: 100%;
				background: #fff;
				box-shadow: 0 0 1rem rgba(63,87,193,.2);
				padding: 10px;
				z-index: 15;
			}
			&:before {
				display: block;
			}
		}
	}
	&__docs {
		display: flex;
		flex-wrap: wrap;
		height: 36px;
		overflow: hidden;
	}


	&__doc {
		padding-left: 23px;
		position: relative;
		margin-right: 13px;
		&:before {
			content: '';
			display: block;
			width: 16px;
			height: 20px;
			position: absolute;
			top: 0;
			left: 0;
		}
		
	}

	&__doc_pdf {
		&:before {
			background: url('../images/materials/pdf.svg')no-repeat center center/ contain;
		}
		
	}
	&__doc_word {
		&:before {
			background: url('../images/materials/word.svg')no-repeat center center/ contain;
		}
		
	}
	&__doc_no-type {
		&:before {
			background: url('../images/materials/no-type.svg')no-repeat center center/ contain;
		}
		
	}

	&__doc-link {
		font-size: 14px;
		color: #054da5;	
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}