.project-features {
	background-color: #3949A0;
	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__card-icon {
		width: 35px;
		height: 35px;
		fill: #9AA2CE;
	}

	&__card-title {
		font-size: 30px;
		color: $white;
		margin-top: 30px;
		text-align: center;
	}
	&__card-text{
		font-size: 14px;
		color: #9AA2CE;
		margin-top: 25px;
		text-align: center;
	}
}