.socials {
	display: flex;

	&__item {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		padding: 5px;
		background: rgba($color: $white, $alpha: .6);
		border-radius: 50%;
		display: block;
		&:hover {
			background: $indigo;
			opacity: 1;
			transition: .4s;
			.socials__icon {
				fill:$white;
				opacity: 1;
				transition: .4s;
			}

		}
	}
	&__icon {
		width: 20px;
		height: 20px;
		fill: $indigo;
	}
}