.calendar-popup-event {
	color: #656875;
	font-size: 17px;
	width: 490px;

	&__body {
		position: relative;
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 15px;
		background: none;
		border: none;
		color: #656875;
	}

	&__name {
		margin-bottom: 12px;
	}
	&__name-input {
		width: 100%;
		border: none;
		padding: 10px;
		border-bottom: 1px solid #e1e1e1;

		&:focus, &:active {
			outline: none;
		}
		&:focus {
			border-bottom: 2px solid #2164b1;
		}
	}

	
	&__choice-type {
		margin-bottom: 10px;
	}

	
	&__choice-type-btn {
		text-transform: uppercase;
		padding: 7px 15px;
		border: 1px solid transparent;
		color: #656875;
		font-size: 17px;
		
		&:hover {
			background-color: #f8f9fa;
		}

		&_active {
			// border: 1px solid $yellow;
			color: $yellow;
			border-radius: 4px;
			background-color: #f5f4f4;

			&:hover {
				color: $yellow;
				border-radius: 4px;
				background-color: #f5f4f4;
			}
		}
	}

	&__btn {
		padding: 5px 15px;
		border: 1px solid transparent;
		color: #656875;
		font-size: 17px;

		&:hover {
			background-color: #f8f9fa;
		}

		&_save {
			background-color: #2164b1;
			color: $white;
			&:hover {
				color: $white;
				background-color: #4679b4;
			}
		}
	}

	&__input {
		background: $white;
		border: 1px solid #d6d6d6;
		padding: 7px;
		margin-left: 10px;
		// flex: 1;
		// width: 100%;
		&:focus {
			outline: none;
			background: #f0efef;
		}
	}
	&__btns {
		text-align: right;
	}

	&__parameters {
		margin-bottom: 85px;
	}
	&__parameter {
		display: flex;
		margin-bottom: 20px;
		align-items: center;

	}
	&__parameter-date {
		width: 120px;
		margin-right: 5px;
		display: flex;
	}
	&__parameter-time {
		width: 68px;
		margin-right: 5px;
	}
	
}