.search-line {
	display: flex;
	align-items: center;
	margin-bottom: 60px;

	&__icon {
		margin-right: 15px;
	}
	&__icon-pic {
		width: 30px;
		height: 30px;
		fill: #044ea4;
	}
	&__text {
		font-size: 30px;
		font-family: 'Roboto Condensed';
		font-weight: bold;
		color: #044ea4;
		margin-right: 15px;
	}
	&__line {
		flex: 1;
		margin-right: 15px;
	}
	&__line-input {
		flex: 1;
		border: 1px solid $gray;
		padding: 10px 15px;
		color: $black;
		font-size: 18px;
		width: 100%;

		&:focus {
			border-color: #044ea4;
		}
	}
}